packer_compiled.lua
.config/polybar/gmail/*
home/.local/bin/mise
home/.local/bin/bw
home/.local/bin/python3.13
home/.local/bin/python3.14
home/.local/bin/get-aws-secret
home/.local/bin/bw
home/.local/bin/bw
home/.local/share
migratenanny
deep-work.sh
